<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>❤❤❤❤❤</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/img/1f497.png">
</head>
<body>
	<h1>Encrypt a Message!!!</h1>
	<form method="POST" action="/get_submit">
		<p>Enter message and next the key</p>
			<input type="text" name="TEXTE">
			<input type="text" name="cle" maxlength="11">
			<input type="submit" name="BOUTON" value="Submit">
	</form>
</body>
</html>